prometheus.scrape "tapo" {
  targets = [
    {"__address__" = "127.0.0.1:9108", "job" = "tapo_p110"},
  ]

  forward_to = [prometheus.remote_write.grafana_cloud.receiver]
}

prometheus.remote_write "grafana_cloud" {
  endpoint {
    url = sys.env("GRAFANA_CLOUD_PROM_URL")

    basic_auth {
      username = sys.env("GRAFANA_CLOUD_PROM_USER")
      password = sys.env("GRAFANA_METRICS_WRITE")
    }
  }
}
